.mat-toolbar{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 200;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    justify-content: center;
    border-radius:10px ;
}